body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  height: 500px;
  width: 500px;
  text-align: center;
  margin-left: 500px;
  margin-top: 150px;
  @media (max-width: 375px) {
    margin-top: 250px;
    margin-left: 0;
  }
}

img {
  height: 50%;
  width: 250px;
}

.qr-code {
  display: block;
  align-content: center;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}
